{% extends "index.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.3.2/holder.min.js" type="text/javascript"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript" src="./static/js/analytics_js.js"></script>
    <script>
        Holder.add_theme("white", {background: "#fff", foreground: "#a7a7a7", size: 10});
    </script>
{% endblock %}

{% block body %}



<div class="container-fluid">

    <div class="row">


        <div class="col-sm-12 col-md-17">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Cell Title
                </div>
                <div class="chart-stage">
                    <div id="scatterchart">
                        <select id="scatterchart_select">

                            <option value="Population">Population</option>
                            <option value="Literacy_Rate">Literacy Rate</option>
                            <option value="Sex_Ratio">Sex Ratio</option>

                        </select>
                        <select id="scatterchart_crime">
                            {% for crime in crimes %}
                            <option value="{{crime}}">{{crime}}</option>
                            {% endfor %}


                        </select>

                        <button type="submit" id="subsc">Send</button>
                        <div id="scatterchart_graph"></div>

                    </div>
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-17">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Cell Title
                </div>
                <div class="chart-stage">
                    <div id="violinchart">
                        <select id="violinchart_select">

                            <option value="month">Month</option>
                            <option value="hour">Hour</option>
                        </select>

                        <button type="submit" id="subvc">Send</button>
                        <div id="violinchart_graph">
                        </div>
                    </div>
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-17">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Cell Title
                </div>
                <div class="chart-stage">
                    <div id="linechart">
                        <select id="linechart_select1">
                            <option value="year">Year</option>
                            <option value="month">Month</option>
                            <option value="hour">Hour</option>
                        </select>
                        <select id="linechart_select2">
                            <option value="year">Year</option>
                            <option value="month">Month</option>
                            <option value="hour">Hour</option>
                        </select>
                        <button type="submit" id="sublc">Send</button>
                        <div id="linechart_graph"></div>

                    </div>
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-17">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Cell Title
                </div>
                <div class="chart-stage">

                    <div id="heatmap">
                        <select id="heatmap_select">
                            <option value="Row">Row</option>
                            <option value="Column">Column</option>
                        </select>
                        <select id="heatmap_select2">
                            <option value="District">District</option>
                            <option value="Police Station">Police Station</option>
                        </select>
                        <button type="submit" id="sub">Send</button>
                        <div id="heatmap_graph"></div>

                    </div>
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
</div>

{% endblock %}